@import 'https://fonts.googleapis.com/css2?family=Monoton&display=swap';

.App {
  height: 100vh;
  background-color: #1a202c;
  overflow: scroll;
  text-align: center;
  background-image: url("https://media.giphy.com/media/xT9IgjzykJ9WwJV8Aw/giphy.gif");
  background-repeat: repeat;
  background-size: 50%;
  font-family: Monoton;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  margin: 0;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  position: relative;

  text-shadow:
    0.05em 0 0 rgba(10, 10, 10, 0.75),
    -0.025em -0.05em 0 rgb(191, 228, 238),
    0.025em 0.05em 0 rgba(0,0,255,.75);

    animation: glitch 500ms infinite;
}

.header span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(0.05em, -0.0125em);
  opacity: 0.8;
}

.header span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow:
    0.05em 0 0 rgba(10, 10, 10, 0.75),
    -0.05em -0.025em 0 rgb(191, 228, 238),
    -0.025em 0.05em 0 rgba(0,0,255,.75);
  }

  14% {
    text-shadow:
    0.05em 0 0 rgba(10, 10, 10, 0.75),
    -0.05em -0.025em 0 rgb(191, 228, 238),
    -0.025em 0.05em 0 rgba(0,0,255,.75);
  }

  15% {
    text-shadow:
    -0.05em -0.025em 0 rgba(10, 10, 10, 0.75),
    0.025em 0.025em 0 rgb(191, 228, 238),
    -0.05em -0.05em 0 rgba(0,0,255,.75);
  }

  49% {
    text-shadow:
    -0.05em -0.025em 0 rgba(10, 10, 10, 0.75),
    0.025em 0.025em 0 rgb(191, 228, 238),
    -0.05em -0.05em 0 rgba(0,0,255,.75);
  }

  50% {
    text-shadow:
    0.025em 0.05em 0 rgba(10, 10, 10, 0.75),
    -0.025em -0.05em 0 rgb(191, 228, 238),
    0.025em 0.05em 0 rgba(0,0,255,.75);
  }

  99% {
    text-shadow:
    0.025em 0.05em 0 rgba(10, 10, 10, 0.75),
    -0.025em -0.05em 0 rgb(191, 228, 238),
    0.025em 0.05em 0 rgba(0,0,255,.75);
  }

  100% {
    text-shadow:
    -0.025em 0 0 rgba(255,0,0,.75),
    -0.025em -0.025em 0 rgb(191, 228, 238),
    -0.025em -0.05em 0 rgba(0,0,255,.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.sub-text {
  font-size: 40px;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
} */

/* butt-Glitch */
.cta-button, cta-button::after {
  margin: 0;
  font-size: 2rem;
  font-family: 'Monoton';
  color: rgb(255, 255, 255);
  position: relative;

  text-shadow:
    0.05em 0 0 rgba(10, 10, 10, 0.75),
    -0.025em -0.05em 0 rgb(191, 228, 238),
    0.025em 0.05em 0 rgba(0,0,255,.75);
  
  /* height: 45px;
  border: 0; */
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  cursor: pointer;
  /* font-size: 16px; */

  /* background: linear-gradient(45deg, transparent 5%, #FF013C 5%); */
  /* border: 0; */
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  /* box-shadow: 6px 0px 0px #00E6F6; */
  outline: transparent;
  position: relative;
}

.cta-button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'Phantom Devnet';
  display: block;
  position: absolute;
  top: 0;
  /* left: 0;
  right: 0;
  bottom: 0; */ 
  /* background: linear-gradient(transparent 3%, rgb(208, 238, 240) 3%, rgb(214, 214, 214) 5%, rgb(151, 88, 235) 5%); */
  text-shadow: -3px -3px 0px rgba(221, 237, 241, 0.377), 3px 3px 0px rgb(123, 36, 238);
  font-weight: bold;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 5s butt-glitch;
  animation-timing-function: steps(3, end);
}

@keyframes butt-glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(100px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* butt-Glitch */


.connect-wallet-button {
  background: -webkit-linear-gradient(left, #919291, #90acf7);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.submit-gif-button {
  background: -webkit-linear-gradient(left, #919291, #90acf7);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 45px;
  font-family: Monoton;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Monoton;
}

.gif-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.gif-grid .gif-item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-self: center;
  align-self: center;
}

.gif-item img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.connected-container input[type='text'] {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
  font-family: Monoton;
}

.connected-container button {
  height: 50px;
}

/* for mobile */
@media screen and (max-width: 415px) {
  .header {
    margin: 0;
    position: relative;
    font-size: 1.5rem;
    text-align: center;
  }

  .sub-text {
  font-size: 1rem;
  color: white;
  text-align: center;
  }
}
